
@media only screen and (min-width:1920px) {

    .container-fluid {
      width: 1899px;
      padding: 0px !important;
    }
    .red-footer-section {
        padding: 60px 0px 20px !important;
        background-color: #FE2B00;
    }
  }
  @media (min-width: 1400px) {
    .lightbox-modal .carousel-inner {
      max-width: 60%;
    }

  }



@media only screen and (max-width:1199px){

    .navbar-expand-md .navbar-nav .nav-link{
        padding: 15px 10px;
    }
}

@media only screen and (max-width:991px){

    .about-sec-about-page .about-content-wrapper{
        margin-top: 0px;
        padding-bottom: 0;
    }
    .about-image.text-center.about-content-wrapper{
        padding-bottom: 30px;
    }
    .director-section h2{
        font-size: 55px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        font-size: 16px;
        text-align: center;
        line-height: 1em;
    }
    .spaceleft-right {
        padding: 0px 10px;
    }
    .about-content-wrapper{
        margin-top: 40px;
    }
    br{
        display: none;
    }
    .section-title h2{
        font-size: 70px;
    }
    .section-title p{
        font-size: 20px;
    }
    .service-box{
        border: 1px solid #787878 !important;
        margin-bottom: 20px;
    }
    .numbers-section{
        padding-left: 20px;
        margin-left: 20px;
    }
    .best-training-section .about-content h3{
        font-size: 18px;
    }
    .best-training-section .about-content h2{
        font-size: 40px;
    }
    .number-style h2{
        font-size: 80px;
    }
    .number-style p{
        font-size: 18px;
    }
    .review-image{
        width: 300px;
    }
    .people-say-section .owl-nav{
        bottom: -40px !important;
    }
    .Our-service-section.space-top-bottom{
        padding-top: 0px;
    }
    .people-say-section .space-top-bottom{
        padding-top: 0px;
    }
}

@media only screen and (max-width:767px){
    .section-title {
        padding-top: 40px;
    }
    
    
    .section-title h2 {
        margin-bottom: 20px !important;
    }
    .space-top-bottom {
        padding: 60px 0px;
    }
    .seclocatinbgg{
        height: auto;
      }
    .secmarg{
        margin-top: 0px;
      }
    .offcanvas-body {
        background: #fff;
    }
    .navbar-toggler{
        background-color: #FE2B00;
        height: 50px;
    }
    .banner-content h1{
        font-size: 70px;
    }
    .banner-content h4{
        font-size: 38px;
    }
    .orange-button.btnstyle{
        font-size: 18px;
    }
    .orange-button.btnstyle{
        padding: 15px 30px;
    }
    .banner-one{
        padding: 250px 0px 150px;
    }
    .socalmedia {
        display: flex;
        justify-content: flex-start;
    }
    
.socalmedia p a i {
    padding-right: 20px;
    padding-left: 0;
    margin-top: 30px;
}
    .numbers-section {
        padding-left: 0px;
        margin-left: 0px;
        border: 0px;
        margin-top: 60px;
        text-align: center;
    }
    .section-title h2 {
        font-size: 60px;
    }
    .section-title p{
        font-size: 18px;
    }
    .look-at-section .owl-nav .owl-prev, .look-at-section .owl-nav .owl-next, .people-say-section .owl-nav .owl-prev, .people-say-section .owl-nav .owl-next{
        width: 90px;
        height: 60px
    }
    .trainer-intro h4{
        font-size: 22px;
    }
    .desktop{
        display: none;
    }
    .trainer-intro{
        padding: 20px 10px;
    }
    .review-holder{
        flex-direction: column;
    }
    .reniew-content{
        text-align: center;
    }
    .reniew-content p{
        font-size: 20px;
    }
    .people-say-section .owl-nav{
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    .reniew-content .stars{
        margin: 10px auto;
    }
    .news-letter-title{
        text-align: left;
    }
    .footer-logo{
        text-align: left;
    }
    .footer-list{
        text-align: left;
        margin-top: 30px;
    }
    .copyright-section{
        margin-top: 40px;
    }
    .our-miossion-section h3 {
        font-size: 35px;
    }
    .our-miossion-section p{
        font-size: 18px;
        margin-bottom: 0;
    }
    ul.navbar-nav.me-auto.mb-2.mb-md-0{
        margin: 0px !important;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        color: #000 !important;
        text-align: left !important;
    }
    .orange-button:before {
        content: "";
        background-color: transparent !important;
        font-weight: 500;
    }
    .orange-button i {
        font-weight: 500;
    }
    .offcanvas-header{
        background: #000;
    }
    .mebbg p , .mebbg2 p{
        font-size: 13px;
        padding-top: 5px;
    }
    .mebbg h3 , .mebbg2 h3 {
        font-size: 35px;
    }
    .secmembbtn a , .secmembbtn2 a{
        font-size: 13px;
    }
    .maibranchtit {
        font-size: 30px;    
    }
    .seccont-add-p {
        font-size: 16px;
    }
    .sec-cont-hh {
       color: #fff;
        font-size: 40px;
    }
    .secpadiff{
        padding: 0px 10px !important;
    }
  
    .sec-cont-hh2 {
        font-size: 30px;
    }
    .secrowwov{
        width: 100%;
        margin: auto;
      }
      .mobile{
        display: block;
        padding-bottom: 40px;
        }
        .sectestem {
            padding-top: 60px;
        }
        .sectestem {
            padding-top: 60px;
        }
        .text-left {
            padding-bottom: 30px;
        }
}

@media only screen and (max-width:575px){
    .mobile{
        display: block;
        }
    .desktop{
        display: none;
    }

    .director-section h2{
        font-size: 40px;
    }
    .director-section p{
        margin-bottom: 30px;
    }
    .space-top-bottom100{
        padding: 60px 0px;
    }
    .navbar-brand{
        width: 130px;
    }
    .banner-tag p{
        font-size: 16px;
    }
    .banner-content h1 {
        font-size: 45px;
        line-height: 1em;
    }
    .banner-content h5 {
        font-size: 33px;
        line-height: 38px;
    }
    .banner-scetion-wrapper .owl-prev,.banner-scetion-wrapper .owl-next{
        width: 30px;
        height: 30px;
        background-position: center !important;
    }
    .banner-content h4 {
        font-size: 30px;
        line-height: 1em;
    }
    .banner-one {
        padding: 250px 0px 100px;
    }
    .banner-tag{
        padding: 10px 40px;
        top: 25px;
    }
    .about-content-wrapper{
        padding: 40px 20px;
    }
    .about-content h3{
        margin-bottom: 20px;
    }
    .about-content p{
        font-size: 16px;
        line-height: 30px;
    }
    .section-title h2 {
        font-size: 26px;
    }
    .section-title p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .service-box-inner{
        padding: 20px;
    }
    .orange-button.btnstyle.margin-top-60{
        margin-top: 20px;
    }
    .best-training-section .about-content h3 {
        font-size: 16px;
    }
    .best-training-section .about-content h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .spaceleft-right.best-training-section .space-top-bottom{
        padding-bottom: 20px;
    }
    .look-at-section .owl-nav, .people-say-section .owl-nav {
        position: static;
        margin-top: 30px;
        text-align: center;
    }
    .reniew-content p {
        font-size: 18px;
    }
    .news-letter-title h4 {
        font-size: 24px;
    }
    .newsletter-form{
        flex-direction: column;
    }
    .newsletter-form .btn.btn-primary{
        margin-top: 20px;
    }
    .copyright-section p{
        margin-top: 20px;
    }
}